*,
*::after,
*::before {
    box-sizing: border-box;
}

/* declaração de vatiavel para a paleta de cores */
:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;

}



/* reset em alguns elementos usados neste projeto */
body,
h1,
h2,
p,
figure,
.links-menu {
    margin: 0;
    padding: 0;
    /* removendo marcadores da lista ul */
    list-style: none;
}

/* importante poara medida relativa REM */

html {
    font-size: 16px;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6rem;

    /* formatando link dentro do h1 */
    a {
        background-color: var(--cor-escura);
        color: var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;
    }
}

.topo {
    position: sticky;
    top: 0;

    background-color: var(--cor-clara);

    .limitador {
        height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    z-index: 3;
}

.limitador {
    width: 95vw;
    margin: auto;
    /* background-color: yellow; */
}

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    /* background-color: aquamarine; */
    padding: 1rem;
    display: inline-block;
}

.menu a:hover,
.menu a:focus {
    background-color: var(--cor-intermediaria);
}

/* atenção! neste ponto, fazemos com que os links do menu iniciem escondidos (display:none) em telas pequenas. posteriormente com a ajuda do CSS combinado com o JS faremos os comandos necessarios para exibir/esconder de forma alternada */
.links-menu {
    display: none;

    a {
        color: var(--cor-escura);
        font-weight: bold;
        /* background-color: yellow; */
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.links-menu.aberto {
    /* ativamos o flex para anular o display:none ( fazendo assin os links aparecem) e ao mesmo tempo ter os recursos do flex */
    display: flex;
    /* mudamos a direçao para coluna para voltar a exibir um link em cima do outro */
    flex-direction: column;
    /* usamos o position e coordenadas para ajustar a posição final e o tamanho que os links ocuparao na tela logo abaixo da palavra menu. */
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

/* exercicio

1- cir uma regra especifica para formatar o artigo destaque com as seguintes configuraçoes:
  altura de 88vh
  imagem de fundo (fundo-destaque)
  imagem de fundo deve ficar parada
  use flex para alinhar totalmentre o meio
  use flax para garantir que os textos fiquem um em cima do outro
  
2- crie uma regra para formatar o h2 e o contidos no destaque. faça com que os textos fiquem centralizados com  a cor clara.  */

.destaque {
    height: 88vh;
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    h2 {
        font-size: clamp(3rem, 10vw, 7rem);
    }

    p {
        font-size: clamp(1.5rem, 3vw, 3rem);
        animation-delay: 2s;
        /* antes da animação: o elemento assume o estilo do primeiro keyframe (ou seja from). portanto assim, forçamos a iniciar com opacity zero e escala menor 30% */
        animation-fill-mode: backwards;

    }

    /* função clump() função util para redimencionamento responsoivo de acordo com criterios de tamanho minimo, ideal, variavel/responsivo e maximo.
  
  clamp(
  tamannho minimo
  tamanho ideal/variavel/responsivo
  tamanho maximo
  )*/

}

.destaque h2,
.destaque p {
    text-align: center;
    color: var(--cor-clara);
    /* aplicando animação */
    animation-name: animaDestaque;
    animation-duration: 2s;


}


/* criando a animação */

@keyframes animaDestaque {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

article {
    h2 {
        padding: 1rem;
        font-size: 1.4rem;
        font-family: raleway, sans-serif;
        color: var(--cor-titulo);
    }

    p {
        padding: .5rem 0;
        font-size: 1.2rem;
    }

    address {
        font-style: normal;
        font-size: 1.2rem;
    }
}

.front-end,
.historia,
.localizacao {
    text-align: center;
}

/* 1) Crie uma regra para formatar o artigo de História da Internet com:

- Plano de fundo: imagem "fundo-madeira"
- Deixe a imagem parada e cobrindo todo o espaço do artigo

 

2) Crie uma regra para formatar o titulo "História da Internet" com cor clara e uma sombra no texto.

 

3) Crie uma regra para formatar o vídeo do artigo História da Internet com:

- Largura de 100%
- Largura máxima de 700px
- Margem inferior de 2rem

 

4) Crie uma regra para formatar o mapa da Localização com:

- Largura de 100%
- Margem superior de 2rem

 

5) Crie uma regra para o rodapé com:

- Fundo escuro
- Cor do texto clara
- Altura de 30vh
- Negrito
- Flex com centralização total
- Texto centralizado

 

6) Crie uma classe chamada "limitador" com largura de 95vw e margem automática. 

Aplique esta classe no cabeçalho (provisoriamente) e também no artigo front-end.

tem menu de contexto */

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;



    h2 {
        color: var(--cor-clara);
        text-shadow: black 2px 2px 5px;
    }

    iframe {
        width: 100%;
        max-width: 700px;
        margin-bottom: 2rem;
    }

}

.localizacao iframe {

    width: 100%;
    margin-top: 2rem;


}

.rodape {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
        font-weight: bold;

    }
}

/* regras para as poaginas internas(produtos, serviços e conyayo */

.conteudo-interno {
    background-color: var(--cor-intermediaria);
    padding: .5rem;
    border-radius: 8px;

    h2 {
        padding-left: 0;
    }
}

table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    border: solid 4px;
    align-items: center;
    margin: auto;
}

caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: .3rem;
}

th {
    background-color: var(--cor-escura);

    color: var(--cor-clara);
    padding: .5rem;
    text-align: center;


}

td {
    border: solid 2px;
    padding: .4rem;

}

td:first-child {
    text-align: left;

}

td:nth-child(2) {
    text-align: center;
}

td:last-child {
    text-align: right;
}

tr:nth-child(odd) {
    background-color: var(--cor-clara);
}

.galeria {
  

        

   img {
        border-radius: 50%;
        transform: scale(0.8) rotate(20deg);
        transition: 1s;
        box-shadow: var(--cor-escura) 0 0 30px;



    }

    img:hover {
        transform: rotate(0) scale(1);
        
        transition: 1s;


    }

}